.navbar {
    height: 64px;
    background: #0f172a;
    /* real OTT dark */
    color: white;
    padding: 0 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.nav-links {
    display: flex;
    gap: 18px;
}

.nav-links a {
    text-decoration: none;

    font-size: 15px;
    color: #cbd5f5;
}

.add-btn {
    padding: 6px 10px;
    border-radius: 6px;
    background: #22c55e;
    color: #052e16 !important;
    font-weight: 600;
}

.link {
    margin-top: 5px;
}