.main {
    background: #f8fafc;
    height: 90vh;
}

.detail-page {

    height: 80vh;
    padding: 40px;
    display: flex;
    justify-content: center;
}

/* Main Card */
.detail-card {
    width: 100%;
    max-width: 950px;
    background: #ffffff;
    border-radius: 12px;
    display: flex;
    overflow: hidden;
    border: 1px solid #e5e7eb;
}

/* Left Poster */
.detail-poster {
    width: 320px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-poster img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: #000;
}

/* Right Content */
.detail-info {
    flex: 1;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* Header */
.detail-header {
    display: flex;
    gap: 16px;
    align-items: center;
}

.detail-thumb {
    width: 90px;
    height: 130px;
    object-fit: contain;
    background: #000;
    border-radius: 6px;
}

.detail-header h2 {
    font-size: 22px;
    font-weight: 600;
    color: #0f172a;
}

.detail-sub {
    font-size: 14px;
    color: #64748b;
    margin-top: 4px;
}

/* Description Box */
.detail-box {
    background: #f1f5f9;
    padding: 16px;
    border-radius: 8px;
}

.detail-box h4 {
    font-size: 14px;
    margin-bottom: 6px;
    color: #0f172a;
}

.detail-box p {
    font-size: 14px;
    line-height: 1.6;
    color: #475569;
}

/* Actions */
.detail-actions {
    display: flex;
    gap: 12px;
}

.edit-btn {
    padding: 9px 18px;
    border-radius: 6px;
    border: none;
    background: #0f172a;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.delete-btn {
    padding: 9px 18px;
    border-radius: 6px;
    border: none;
    background: #ef4444;
    color: white;
    font-size: 14px;
    cursor: pointer;
}